html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  background-color: dimgrey;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: greenyellow;
}

h1,
label {
  color: #ffffff;
  margin: 10px;
  text-align: center;
}

p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#container {
  background-color: dimgrey;
  width: 100%;
}

#three-blocks {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.block {
  /* width: 500px;
  height: 800px; */
  margin: 20;
  flex: 1 1 auto;
  background-color: #ffffff;
}

#transcription-viewer {
  margin: 50;
  border: 1px solid #000000;
}

/* Aussehen von den main */
#main {
  /* height: 800px; */
  padding: 10px;
  margin-bottom: 10px;
  float: none;
  color: white;
  background-color: dimgrey;
}

/* Style text field so that line breaks are visible */
#transcription-text-field {
  white-space: pre-wrap;
}

/* space between divs */
div:not(:last-child) {
  margin-right: 20px;
}

#file-chooser {
  margin: 20px;
}

/*
*
* MAP CSS
*
*/
#map-div {
  position: relative;
}

#map {
  height: 600px;
  width: 800px;
  border: 3px solid #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

/*
*
* SLIDER CSS
*
*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
